body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #f9f9f9;
    position: relative;
}

.material-icons{
    cursor: pointer;
    color: rgb(90, 90, 90);
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #030303;
}

a:visited {
    color: #030303; 
}


/* 헤더 */
header{
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
}

/* 첫번째 섹션 */
header .first-section{
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 3;
}

header .first-section li{
    float: left;
}

/* 햄버거 아이콘 */
header .first-section .first-menu{
    padding: 0 8px;
    /* margin-right: 16px; */
}

header .first-section .material-icons{
    font-size: 24px;
    margin-top: 5px;
}

/* 유튜브 로고 이미지 */
header .first-section .youtube_logo{
    display: flex;
    margin-top: -5px;
    padding: 18px 14px 18px 16px;
    align-items:flex-end;
}

header .first-section .style-scope{
    width: 90px;
    height: 20px;
    display: flex;
}

header .first-section span.style-scope{
    font-size: 10px;
    width: 12.44px;
    height:24px;
    margin-left: 3px;
    color: rgb(96, 96, 96);
}


/* 두번째 섹션 */
header .second-section{
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 4;
}

header .second-section .search{
    margin-left: 40px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}


header .second-section .search #search__box{
    height:20px;
    width: 523px;
    margin-left: 6px;
    font-size: 15px;
    color: rgb(17,17,17);  
    border: none; 
}

header .second-section .search div{
    height:28px;
    width: 562px;
    display: flex;
    align-items: center;
    border: #ccc 1px solid;
}



header .second-section .search #search-btn{
    width: 65px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc 1px solid;
    border-left: none;
}

#search-btn .material-icons{
    text-align: center;
    font-size: 20px;

}

.second-section .mic{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .mic .material-icons{
    font-size: 24px;
}



/* 세번째 섹션 */
header .third-section{
    right: 18px;
    display: flex;
    padding-left: 34px;
}


header .third-section .material-icons{
    font-size: 24px;
}

header .third-section .dot{
    display: flex;
    align-items: center;
}

header .third-section .dot div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

header .third-section .login--btn{
    border: #065fd4 1px solid;
    width: 95px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 9px;
    background: #ffffff;
}


header .third-section li button .material-icons{
    color: #065fd4;
    position: absolute;
    width: 24px;
}

header .third-section li div.login_text{
    position: absolute;
    font-size: 14px;
    margin-left: 32px;
    color: #065fd4;
    display: block;
}

/* 헤더 점9개 메뉴바 */
#dot_menu1{
    width: 227.469px;
    height: 251px;
    position: absolute;
    background: #fafafc;
    right: 0%;
    margin-right: 150.031px;
    top: 40px;
    z-index: 1;
    cursor: pointer;
}

#dot_menu1 ul li{
    padding: 0px 36px 0px 16px;
    display: flex;
    align-items: center;
    height: 40px;
}

#dot_menu1 ul li.li_1{
    margin: 8px 0px 8px 0px;
}

#dot_menu1 ul li.li_2{
    margin-top: 16px;
}

#dot_menu1 ul li.li_3{
    margin-bottom: 8px;
}

#dot_menu1 ul li span{
    font-size: 14px;
}

#dot_menu1 ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#dot_menu1 a{
    display: flex;
    align-items: center;
}

#dot_menu1 .style-scope{
    width: 24px;
    height: 24px;
}

#dot_menu1 yt-icon{
    margin-right: 16px;
    width: 24px;
    height: 24px;
}


/* 헤더 점 3개 메뉴바 */
#dot_menu2{
    width: 298px;
    height: 393px;
    position: absolute;
    margin-right: 105px;
    background: #fafafc;
    right: 0;
    top: 40px;
    cursor: pointer;
}

#dot_menu2 ul li{
    padding: 0px 16px 0px 16px;
    display: flex;
    align-items: center;
    height: 40px;
}

#dot_menu2 ul li span{
    margin-left: 17px;
    font-size: 14px;
    width: 202px;
    height: 21px;
}

#dot_menu2 ul li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#dot_menu2 ul li.li_1{
    margin-top: 8px;
}

#dot_menu2 ul li.li_2{
    margin-bottom: 8px;
}

#dot_menu2 ul li.li_3{
    margin-top: 16px;
    padding-left: 0px;
}

#dot_menu2 ul li.li_3 span{
    width:242px
}

#dot_menu2 .style-scope{
    width: 24px;
    height: 24px;
    margin-left: 0px;
}

#dot_menu2 .yt-icon{
    width: 24px;
    height: 24px;
    fill: rgb(144,144,144);
}

#dot_menu2 p{
    padding-right: 0px;
    color: rgb(144,144,144);
}

/* 사이드 메뉴 */
#side__menu{
    position: fixed;
    height: 100vh;
    width: 236px;
    display: flex;
    background: #ffffff;
    z-index: 4;
    overflow: scroll;
}

.hide{
    visibility: hidden;
  }
  
  .reveal{
    visibility: visible;
  }


/* 사이드 메뉴 아이콘 */
#side__menu .material-icons{
    font-size: 25px;
    margin: 15px 20px 0 25px;
}

/* 사이드 메뉴 리스트 */
#side__menu ul.side__list{
    position: absolute;
    font-size: 14px;
}

#side__menu ul.side__list li{
    width: 222px;
    height: 42px;
}

#side__menu ul.side__list li.list_first{
    display: flex;
    align-items: center;
}

#side__menu ul.side__list .default{
    margin-top: 11px;
}

#side__menu ul .click-red{
    color: #f00;
}

#side__menu ul .click-gray{
    background: #e5e5e5;
}

#side__menu ul.side__list li.list_bottom{
    margin-bottom: 10px;
}


#side__menu ul.side__list li.list_top{
    margin-top: 20px;
}

#side__menu ul.side__list li:hover{
    background: #e5e5e5;
    transition: 0.1s;
}

#side__menu ul li .material-icons{
    margin-bottom: 13px; 
}

#side__menu ul li a{
    position: relative;
}

#side__menu ul div.list_second{
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 32px;
    color: rgb(3,3,3);
}

#side__menu ul div.list_second .login_text{
    width: 170px;
}

#side__menu ul div.list_third{
    height: 50px;
    display: flex;
    padding-left: 6px;
    margin-left: 21px;
}


#side__menu ul div .login--btn{
    border: #065fd4 1px solid;
    width: 105px;
    height: 34px;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 5px 12px;
}

#side__menu ul div .login--btn .material-icons{
    color: #065fd4; 
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    width: 24px;
}

#side__menu ul div .login--btn .login_text{
    color: #065fd4;
    margin-left: 32px;
    font-size: 14px;
}

#side__menu ul div.list_fourth{
    display: flex;
    align-items: center;
    padding: 8px 24px;
    box-sizing: border-box;
    color: rgb(96,96,96);
}

#side__menu ul div.list_fourth .bord{
    font-weight: 500;
}

#side__menu ul div.list_fourth .first{
    margin-right: 3px;
}

#side__menu ul div.list_fourth .second{
    margin-left: 3px;
}

#side__menu ul li.list_first img{
    border-radius: 50px;
    font-size: 25px;
    margin: auto 20px;
    height: 24px;
    margin: 0 20px 0 25px;
}


#side__menu .guide-icon{
    width: 25px;
    height: 25px;
    margin-right: 45px;
    fill: rgb(96, 96, 96);
}

#side__menu .yt-icon{
    width: 25px;
    height: 25px;
    margin-left: 25px;
}


/* footer */
footer a{
    text-decoration: none;
}

footer .footer_first{
    margin: 16px 24px 0 24px;
    font-size: 13px;
}

footer .footer_first span{
    color: #606060;
}

footer .footer_third{
    color: #909090;
    margin: 16px 24px;
    font-size: 13px;
    margin-bottom: 50px;
}

/* 본문 섹션 */
section.wrapper {
    overflow: hidden;
    margin-top: 56px;
  }

/* 왼쪽 섹션 */
aside#left{
    width: 72px;
    height: 733px;
    float: left;
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 3;
}

aside#left .material-icons{
    font-size: 24px;
    display: flex;
    justify-content: center;
}

aside#left .left_text{
    font-size: 2px;
    text-align: center;
    margin-top: 6px;
    color: #606060;
    cursor: pointer;
}

aside#left ul li{
    padding: 3px 11px;
}

aside#left ul li.left_first{
    margin-top: 18px;
}

aside#left ul li .click-red{
    color: #f00;
}

aside#left ul li.left_second{
    margin-top: 24px;
}

aside#left ul li:hover{
    background: #e5e5e5;
    transition: 0.2s;
}

aside#left svg.yt-icon{
    width: 24px;
    height: 24px;
    margin-left: 7px;
    fill: #606060;
}

.scrollToTop {
    display: inline-block;
    animation: float 6s ease infinite;
    bottom: 30px;
    position: fixed;
    left: 16px;
    opacity: 0;
    transition: .4s;
}

aside#left .inner .material-icons{
    font-size: 40px;
}


/* 메인 */
main {
    margin-left: 87px;
    width: 100%;
    margin-top: 24px;
}

/* 사이드바 열릴 때  */
.sideopen1{
    margin-left: 256px;
}



main .main_items{
    width: 313px;
    margin: 0 8px 40px 8px;
    display: flex;
    justify-content: center;
    float: left;
    overflow: hidden;
    font-size: 14px;
}


main .video_main{
    position: relative;
}


main .video_time{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px 4px;
    margin: 4px;
    background-color: #000000;
    color: white;
    font-size: 12px;
    font-weight: 500;
}


.main_items .hover_img{
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
}

.main_items .hover_img img{
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: black;
    margin-bottom: 4px;
    display: block;
}

.main_items .hover_text1{
    position: absolute;
    top: 4px;
    right: 32px;
    display: none;
}

.main_items .hover_text2{
    position: absolute;
    top: 36px;
    right: 32px;
    display: none;
}

.act{
    visibility: visible;
}

.main_items .video_main span{
    padding: 4.5px;
    background: #000000;
    color: white;
    margin-right: -3px;
    display:inline-block;
}



main .main_items .profile{
    float: left;
    margin: 12px 12px 40px 0;
}

main .main_items .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

main .main_items .video_info{
    margin-top: 12px;
}

.Thumbnail{
    display: block;
    width: 313.984px; 
    height: 176.609px;
}



main .main_items .video_contents{
    color: #606060;
}

main .main_items .check{
    font-size: 13px;
}

main .main_items p{
    display: flex;
    align-items: center;
}

main .main_items span{
    margin-right: 3px;
}

main .sideopen2{
    width: 271.984px;
}

.sideopen3{
    width: 271.984px;
    height: 152.609px;
}